.slick-next{
    top : 35%;
    right: 45px;
    z-index: 1;
}
.slick-prev{
    top : 35%;
    left: 40px;
    z-index: 1;

}

.slick-prev::before{
    content: url('https://i.ibb.co/XWSQ7kK/grtegergerg-removebg-preview.png');
    font-size:  80px;
    line-height: 10px;
    color: rgb(139, 92, 246);
    font-weight: bolder;
    background-color : '#8b5cf6'!important

}

.slick-next::before{
    content: url('https://i.ibb.co/CwkVcTS/bcxvsvcxvxcv-removebg-preview.png');
    font-size:  80px;
    line-height: 10px;
    color: rgb(139, 92, 246);
    font-weight: bolder;
    background-color : '#8b5cf6'!important

}

.slick-dots li button::before{
    background-color: white;
    border-radius:  20px;
    color: white!important;
    width:  13px!important;
    height  :  13px!important;
    
}
