.slick-next{
    
    right: 40px;
    z-index: 1;
}
.slick-prev{
    
    left: 20px;
    z-index: 1;

}
.slick-prev::before{
    content: '<';
    font-size:  80px;
    line-height: 10px;
    color: rgb(139, 92, 246);
    font-weight: bolder;
    background-color : '#8b5cf6'!important

}

.slick-next::before{
    content: '>';
    font-size:  80px;
    line-height: 10px;
    color: rgb(139, 92, 246);
    font-weight: bolder;
    background-color : '#8b5cf6'!important

}

.slick-dots li button::before{
    background-color: white;
    border-radius:  20px;
    color: white!important;
    width:  13px!important;
    height  :  13px!important;
    
}
